name: Deploy to Github Pages

on: [push]

jobs:
    deploy:
        if: github.event_name == 'push' && github.ref == 'refs/heads/main' && github.repository_owner == 'Calbabreaker'
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v5

            - name: Install pnpm
              run: npm install -g pnpm

            - name: Build project
              run: pnpm install && pnpm build

            - name: Push to github pages
              uses: s0/git-publish-subdir-action@develop
              env:
                  REPO: self
                  BRANCH: gh-pages
                  FOLDER: dist
                  MESSAGE: "Deploy at {sha}"
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
